
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Batch {{ batch_id }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="batch-page">
    <h1>Batch {{ batch_id }}</h1>
    <ul class="section-list">
        <li><a href="/members/{{ batch_id }}">Members</a></li>
        <li><a href="/upload/{{ batch_id }}/notes">Notes</a></li>
        <li><a href="/upload/{{ batch_id }}/questions">Questions</a></li>
        <li><a href="/upload/{{ batch_id }}/materials">Materials</a></li>
        <li><a href="/tba">TBA</a></li>
    </ul>
    <footer>Developed by Salman Rohan<br>3212510021 BGE</footer>
</body>
</html>
